<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0"/>
    </system.web>
<!--School Management System school_management_system-->
  <connectionStrings>
    <add name="sishubikashmodelschooldb"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\deban\source\repos\school_management_system\school_db\db\sishubikashdb.mdf;Integrated Security=True;Connect Timeout=30"/>
    <add name="server_database_test"
      connectionString="Data Source=DEV-PC;Initial Catalog=database_test;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>
    <add name="sishubikashdb"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\deban\source\repos\school_management_system\school_db\db\sishubikashdb.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
